@import "../../node_modules/bootstrap/scss/functions";

$primary: #1eb113;
$secondary: #2b5797;
$success: #fde100;
$info: #17a2b8;
$btn-primary-color: #2ab622;
$btn-secondary-color: #2f0a7e;
$btn-info-color: #ffffff;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 800px,
  lg: 1100px,
  xl: 1200px,
  xxl: 1400px
);

$border-radius: 12px;
$border-radius-lg: 20px;

$border-width: 2px;
$input-btn-border-width: 2px;
$btn-border-radius: 20px;
$input-border-radius: 10px;
$btn-border-width: 2px;
$input-border-width: 2px;

$h1-font-size: 3.5rem;
$h2-font-size: 4.8rem;
$font-family-sans-serif: 'Verdana', sans-serif;
$body-bg: #337cc6;
$card-border-width: 2px;


$form-range-thumb-width: 1.5rem;
$form-range-thumb-height: 1.5rem;
$form-range-thumb-bg: $success; 
$form-range-track-bg: $secondary;
$form-range-thumb-active-bg: lighten($success, 10%);

@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/bootstrap";

nav a {
    font-size: 1.1rem;
}
