#efect-css-reflexie-text {
    position: relative;
    display: inline-block;
    color: var(--bs-primary);
    font-weight: 900;
}

#efect-css-reflexie-text::after {
    content: attr(data-text);
    position: absolute;
    top: -50%;
    left: 0%;
    transform: scaleY(-1) skewX(-10deg);
    transform-origin: bottom;
    filter: blur(2px);
    opacity: 0.5;
    transition: transform 0.5s ease-in-out;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    pointer-events: none;
}

#efect-css-reflexie-text:hover::after {
    transform: scaleY(-2.5) skewX(-10deg);
}

hr {
    border: none;
    height: 40px;
    background-image: 
        linear-gradient(45deg, transparent 45%, var(--bs-success) 45%, var(--bs-success) 55%, transparent 55%),
        linear-gradient(-45deg, transparent 45%, var(--bs-success) 45%, var(--bs-success) 55%, transparent 55%);
    background-size: 20px 20px;
    background-repeat: repeat-x;
    background-position: 0 0, 0 20px;
    margin: 50px 0;
}