
body{
    --culoare-fundal : pink;
    --culoare-background: darksalmon;
    --margine-pagina: 100px;
    --culoare-contur:black; 

    background-color: var(--culoare-background);
}


p{
    border: 1px solid var(--culoare-background)
}

main{
    margin-left: var(--margine-pagina);
    margin-right: var(--margine-pagina);
}
figure{
    margin:0;
}

#grid-pagina{
    display: grid;
    gap:10px;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-areas: "welcome welcome welcome"
                         "promotii promotii anunturi"
                         "fig1 orar orar"
                         "fig2 orar orar"
                         "fig3 orar orar"
                         "produse produse produse"
                         "index-intrebari index-intrebari index-intrebari"
                         ;
    
}
#grid-pagina > *{
    border: 1px solid var(--culoare-contur);
    box-shadow: 5px 5px 10px  var(--culoare-contur);
    /* spatiu intern*/
    padding: 100px;
}
 
#welcome{
    grid-area: welcome;
}
#promotii{
    grid-area: promotii;
}
#anunturi{
    grid-area: anunturi;
}
#orar{
    grid-area: orar;
}
 
#fig1{
    grid-area: fig1;
}
#fig2{
    grid-area: fig2;
}
#fig3{
    grid-area: fig3;
}

figure.fg-img> img{
    width: 100%;
}
#produse{
    grid-area: produse;
}
#index-intrebari{
    grid-area: index-intrebari;
}

/* media query -> css pentru max-width de 1200px */
@media screen and (max-width:1200px){
    body{
        --margine-pagina: 80px;
    }
    #grid-pagina{
    
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "welcome welcome"
                         "promotii promotii"
                         "anunturi anunturi"
                         "fig2 orar"
                         "fig3 orar"
                         "produse produse"
                         "index-intrebari index-intrebari"
                         ;
    
}
}

@media screen and (max-width:700px){
    body{
        --margine-pagina: 50px;
    }
    #grid-pagina{
     display: block;
    
}
}