nav {
    --latime-buton: 150px;
    --inaltime-buton: 40px;
    background-color: var(--clr-border);
}

ul.menu {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.menu ul {
    display: none;
    animation: animatie_submeniu 0.5s linear; 
    transform-origin: center top;
}

@keyframes animatie_submeniu {
    0% {
        opacity: 0;
        transform: scaleY(0); 
    }
    100% {
        opacity: 1;
        transform: scaleY(1);
    }
}

ul.menu li {
    font-weight: bold;
    background-color: var(--clr-highlight);
    border: 1px solid var(--clr-border);
    width: var(--latime-buton);
    height: var(--inaltime-buton);
    text-align: center;
    line-height: var(--inaltime-buton);
    transition: all 0.3s linear;
}

ul.menu li a {
    text-decoration: none;
    color: var(--clr-text);
    display: block;
}

ul.menu li:hover {
    background-color: var(--clr-accent);
}

ul.menu > li:hover ul {
    display: block;
    position: absolute;
}


@media screen and (max-width: 700px) {
    ul.menu ul {
        animation: none !important;
        transform: none !important;
    }
    
    ul.menu li {
        transition: none !important;
    }
}